footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 130px;
}
footer .input-field input,
button {
  border-color: #FFFFFF;
}
[type="radio"]+label,
[type="checkbox"]+label {
  color: #fff;
  min-width: 51%;
}
[type="checkbox"]:checked+label:before {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}
input[type="text"] {
    margin-bottom: -20px;
}
.chip {
  font-style: italic;
  min-width: 51%;
  margin-top: 20px;
}

/* ChatHistory styles */
.collection {
 margin-bottom: 0px;
 margin-top: -1px;
}
.collection:last-child {
  margin-bottom: 130px;
}
.message-date {
  color: #585858;
}
body {
  background: #EEEEEE;
}

#root {
	width: 80%;
	display: inline-block;
}

#users {
	padding-left: 10px;
	width: 20%;
	display: inline-block;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	color: #fff;
}

#users p {
  margin-bottom: -20px;
}

